* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
}

.settingswrapper {
    display: flex;
    align-items: center;
    flex: 9;
    padding: 20px;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    
}

.settingsupdatetitle {
    font-size: 30px;
    margin-bottom: 40px;
    color: brown;
    margin-left: -180px;
}

.settingstitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingform {
    display: flex;
    flex-direction: column;
    margin-left: -180px;
}

.settingprofileimg {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-left: 40px;
}

.settingprofileimg>img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.userpp {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    color:aliceblue;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(1, 183, 183);
    margin-top: 70px;
    margin-left: -40px;
    border: 3px solid white;
}

.settingform>input {
    margin: 10px 0;
    height: 20px;
    border: none;
    color: rgb(77, 77, 77);
    font-size: 16px;
    border-bottom: 2px solid grey;
}

.settingupdate {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(1, 183, 183);
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    transition: 1s;
    cursor: pointer;
}
.settingupdate:hover{
    background-color: white;
    color: rgb(1, 183, 183);
    border: 1.5px solid rgb(1, 183, 183);
}