* {
    font-family: 'Mukta', sans-serif;
}

.writeimg {
    width: 86%;
    height: 200px;
    margin-left: 85px;
    border-radius: 10px;
}

.write {
    padding-top: 30px;
}

.writeform {
    position: relative;
}

.writeformgroup {
    margin-left: 160px;
}

.writeicon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgb(1, 183, 183);
    margin-left: -70px;
    font-size: 13px;
    background-color: rgb(1, 183, 183);
    margin-top: 10px;
    margin-bottom: 20px;
}

.writeinput {
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 800px;
    color: rgb(27, 27, 27);
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.writeinput::-webkit-scrollbar {
    display: none;
}

.writeinput:focus {
    outline: none;
}

.writetext {
    font-size: 18px;
    text-align: justify;
    height: 350px;
    width: 800px;
}

.title {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}

.submit {
    position: absolute;
    border: none;
    font-size: 15px;
    background-color: rgb(0, 144, 144);
    color: aliceblue;
    border-radius: 30px;
    right: 75px;
    top: 5px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: 1ms;
}

.submit:hover {
    background-color: rgb(1, 183, 183);
}