.footer{
    background-color: rgb(62, 62, 62);
    width: 100%;
    height: 50px;
    display: flexbox;
    text-align: center;
    flex-direction:row;
    color: aliceblue;
    font-family: 'Mukta', sans-serif; 
}
.copyrighticon,.copyrightsreserved ,.year{
    padding-top: 20px;
    font-size: 15px;
}
.copyrighticon{
    font-size: 10px;
}
