.header {
    margin-top: 60px;
    /* font-family: 'Itim', cursive;
    font-family: 'Mukta', sans-serif; */
}

.headertitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(62, 49, 30);
    
}

.headertitlest {
    font-size: 18px;
    position:absolute;
    top: 23%;
    font-weight: 100;
    font-family: 'Kalam', cursive;
}

.headertitlelg {
    position:absolute;
    font-size: 75px;
    top: 25%;
    font-weight: 400;
    font-family: 'Itim', cursive;
}

.headerimg {
    height: 440px;
    width: 100%;
    margin-top: 60px;
    object-fit: cover;
    margin-bottom: 15px;
}